#main {
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  width: 200px;
  height: 120px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  /*font-weight: 600;*/
  fill: #000;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
/*  top: 260px;
  left: 305px;
  width: 140px;
*/  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}

#data, #sidebar {
  display: none;
}
