.row.center
    svg#pieChart

.row
  input#add(type="button" value="Add a Value")
  input#pts(type="button" value="Points")
  input#remove(type="button" value="Remove a Value")
  input#randomize(type="button" value="Randomize Values")
  input#toggleSort(type="button" value="Toggle Sorting")
