.row
  .col.s3
    h4 Label
  .col.s3
    h4 Avg %
  .col.s3
    h4 Your %
  .col.s3
    h4 County
each slice
  .row
    .col.s3
      h5 #{label}
    .col.s3
      h5 #{sliceAvg}
    .col.s3
      h5 ?
    .col.s3
      h5 ?

.row.center
  h3 #{numSlices} submissions
