#main
      #chart
        #explanation(style="visibility: hidden;")
          span#value
          br
          span#percentage
          br
          of total budget
          #sequence
#sidebar
      input#togglelegend(type="checkbox" checked="checked")
      | Legend
      br
      #legend(style="visibility: hidden;")
