.section.container
  // Hero
  .section.scrollspy#visual
    .container
      .row
        .col.s12
          h2.center.header.text_h2
           | See Miami Dade's 2016
           a(href="https://transparencyapps.demo.socrata.com/dataset/Miami-Dade-FY-16-Proposed-Operating-Budget/un64-wacr?") budget proposal.
        #main.col.s12
          #chart
            #explanation(style="visibility: hidden;")
              span#value
              br
              span#percentage
              br
              of total budget
              #sequence
